
•			HOME WEBCAST 2025 VIEW EVENTS WORLD ENGINEERING DAY
•			Hackathon 2026
•			Hackathon 2025
•			About the Hackathon
•			Challenge 1: Improving the climate resilience of subsistence farming
•			Challenge 2: Addressing informal housing and infrastructure challenges in urban areas
•			Challenge 3: Empowering women to overcome poverty through digital technologies
•			Hackathon public vote
•			Judges
•			What is an SDG?
•			The 17 SDGs
•			Discover events
•			Add / create event
•			Resources
•			Archives
•			2020 Highlights
•			2021 Highlights
•			2022 Hackathon
•			2023 Hackathon
•			2024 Hackathon
•			2025 Hackathon (current)
•			Interview
•			UNSDGs
•			Downloads
•			About WED
•			About WED
•			Celebrating WED
•			Our history
•			PARTNER STORIES SUPPORTERS
MY ACCOUNT

Account details
My events
Bookmarked events
Log out
Lost password
WFEO HACKATHON 2026
Join engineers worldwide to innovate a sustainable future for all!
This year we turn orange for SDG 9! Industry, Innovation & Infrastructure.
👉 REGISTER NOW LEARN MORE

About the Hackathon
The World Federation of Engineering Organizations (WFEO) Hackathon is a key celebration of World Engineering Day for Sustainable Development, bringing together engineering students and young engineers from around the world to solve real-world challenges. It is the largest international competition for engineering students globally.
Participants collaborate across disciplines to design solutions that advance the UN Sustainable Development Goals (SDGs) — harnessing engineering, innovation, and emergent digital technologies to drive social progress and environmental sustainability.
EVENT SCHEDULE
•			Registration Open Now - Jan 26, 2026 Challenges Released January 12th, 2026 Hackathon Period Jan 12 - Jan 26, 2026 Submission Deadline Jan 26 (5pm CET) Winner Announced March 4th, 2026

FORMAT & TEAM
Virtual, global event
Team Size: 2–5 members
5 Min Video Pitch
2026 THEME
Smart Engineering for a Sustainable Future
The 2026 Hackathon focuses on SDG 9: Industry, Innovation and Infrastructure. Building resilient infrastructure, promoting inclusive and sustainable industrialisation, and fostering innovation and digitalisation.

Challenge 1
SDG 11: Sustainable Cities
Make cities and human settlements inclusive, safe, resilient, and sustainable.

Challenge 2
SDG 12: Responsible Production
Ensure sustainable consumption and production patterns through smart engineering.

Challenge 3
SDG 14 & 15: Water & Land
Engineering solutions to protect our waterways and oceans, our forests and our lands.
VIEW ALL CHALLENGES OVERVIEW

How It Works
Simple 5–step process
•			Register – Sign up as an individual.
•			Form a Team – Connect with other participants in your university or around the world.
•			Ideate – Collaborate to design an innovative solution for one of our hackathon challenges (released on January 12th) aligned with SDG 9.
•			Pitch – Present your idea in a video format to an international judging panel.
•			Win – Gain recognition, prizes, and global exposure.
WHO CAN JOIN:
Open to engineering students currently enrolled in an engineering education institution, anywhere in the world, and students from engineering-related disciplines. Language: English.
Why Join?
Make an Impact. Grow Your Network. Win Cash Prizes.
•			Make an Impact: Use your engineering knowledge and skills to tackle real-world issues.
•			Grow Your Network: Collaborate with engineers, mentors, and innovators from around the globe.
•			Boost Your Skills: Gain hands-on experience in digital solutions design, innovation, and teamwork.
•			Earn Global Recognition: Compete on an international stage and have your work featured as part of the 2026 celebrations.
•			Win Cash Prizes: Top teams will receive cash prizes, recognition, mentoring opportunities, and global exposure.

Judging Criteria
1. Application of Engineering
How well the team has used its engineering knowledge and skill in developing a solution and the thoroughness with which the problem has been researched and analyzed.
2. Originality
How effectively the solution approaches the challenge in a unique and innovative way. Teams are judged on the level of inventiveness in their solution, including using new and emerging technologies.
3. Digital Tools & Tech
The extent to which digital tools, such as AI, computer modeling, Computer Aided Design and Drawing, and 3D printing, have been used to design, develop and demonstrate the solution.
4. Contribution to SDGs
The extent to which the solution advances one or more of the UN SDGs and addresses broad ethical issues, in terms of the solution’s impact on the environment and society.
5. Collaboration
How effectively the team has collaborated. Teams are judged on effective communication, successful project management, financial analysis of feasibility and plans for development.
Additional Guidance
The judges want to see how you developed your idea. Your video should show team collaboration, testing, and feasibility. PowerPoint-only presentations will receive low marks!
Inspiration & Impact



Mr. Geert Talsma
UNIVERSITY OF TWENTE, NETHERLANDS | 2025 WINNER
Mr Geert Talsma, a Masters Engineering Student and member of "The Manufacturing Box," the team that won the 2025 WFEO World Engineering Day Hackathon. He speaks on his experience in the Hackathon and what winning the global competition has meant for the innovation and the team members.



Prof. Dr. Tiro Ronquillo
PRESIDENT, BATANGAS UNIVERSITY, PHILIPPINES
Batangas University has encouraged students to enter the WFEO World Engineering Day Hackathon since 2022, with teams winning in 2023. Prof Dr Ronquillo speaks eloquently from the perspective of a University on the benefit of encouraging student participation.
Team Formation
•			Teams typically consist of 3-5 members and are formed offline, at your school or university.
•			Open to individuals studying for an engineering qualification (Bachelor's, Masters, PhD, technologist or technician). Post doctoral fellows are not eligible.
•			The majority of team members must have an engineering background.
•			Need a team? Check out the Facebook group dedicated to helping people form teams.
•			You will have to provide details about each team member, including contact details and a team photo, during the submission process.
Organisers & Partners
Proudly hosted by the WFEO with the support of UNESCO and in partnership with Engineers Without Borders.

FAQs
How do we upload our submission?

This competition utilizes a digital Submission Portal where users can submit their entries. You can access this site via the “Submit Now” links on the page but only once the challenges have been announced.
Are only university students allowed to participate?

Yes, aimed at engineering students currently enrolled in an engineering education course (Bachelor’s, Master’s, PhD, vocational, technical colleges). Post-doctoral fellows are not eligible.
Does the team have to be all from the same university?

No, we can accept teams which are made up of a number of universities/institutions.
When will the finalists be announced?

The top 10 Finalists will be announced on February 6, 2026. The winning entries will be announced on March 4, 2025.
Is there any cost to participate?

No, the WFEO Hackathon is completely free to enter.
When will we receive the challenges?

The challenges will be released on this website on January 12th, 2026.
When does the registration period end?

Registrations close on January 26th. All team members must be registered when submissions close.
How should my entry be presented?

Your submission must include: a 5-minute video (with English subtitles); a photo of your team; and a short accompanying text (in English) about your solution.
Can we see an example of previous winning solutions?

The three winning entries from 2025 are available on the World Engineering Day website.
What is the WFEO?

The World Federation of Engineering Organisations (WFEO) is the global organization for professional engineering institutions, representing more than 30 million engineers. WFEO created this Hackathon.
What is World Engineering Day?

Held annually on March 4, WED is an opportunity to celebrate engineering and the contribution of the world’s engineers for a better, more sustainable world.


WFEO Hackathon 2026: Smart Engineering for a sustainable future
The 2026 WFEO Hackathon which is being held as part of the celebrations of World Engineering Day for Sustainable Development, is focussed on young engineering students and is an opportunity to showcase engineering talent around the world in solving some of the UN Sustainable development Goals through engineering.
The theme of World Engineering Day for Sustainable Development 2026 is “Smart Engineering for a sustainable future through innovation and digitalisation” because our future stands at a crossroads. Humanity’s progress has brought incredible advances in technology, industry, and innovation meaning more people than ever before are living longer, healthier and wealthier lives. Yet right now we are overshooting the limits of our planet and too many people have still been left behind.
•	Seven of nine scientifically recognised life-supporting planetary systems are in significant overshoot, pushing our home planet towards irreversible damage and a future that is not hospitable to human life. [Reference: Planetary health check]
•	Millions of people still do not have access to clean water, improved sanitation facilities, reliable energy, safe housing, quality education and healthcare; the basic infrastructure to live a safe and just life. [Reference: Doughnut Economics 2025 report]
Our systems are out of balance. Industry, innovation and infrastructure can be a significant driving force to achieving this balance when focused on prioritising social and environmental good.
We invite you to be part of this call to action and shape a brighter future for everyone. Explore the WFEO Hackathon challenges below:
Primary Goal: SDG 9
The Primary UN Sustainable Development Goal for the 2026 WFEO Hackathon is SDG 9 - “Industry, Innovation and Infrastructure” - Build resilient infrastructure, promote inclusive and sustainable industrialization and foster innovation.
Specific Challenges
The additional UN Sustainable Goals that are specific to the three challenges of the WFEO Hackathon are:
•	Challenge 1: SDG 11: “Sustainable cities and communities” - Make cities and human settlements inclusive, safe, resilient and sustainable. We challenge you to develop engineering solutions that design and build smarter urban systems for a liveable, sustainable future [View Challenge 1]
•	Challenge 2: SDG 12: “Responsible consumption and production” - Ensure sustainable consumption and production patterns. We challenge you to develop engineering solutions that produce, use and reuse resources to ensure responsible material use [View Challenge 2]
•	Challenge 3: SDG 14: “Life below water” and SDG 15 “Life on Land” - Conserve and sustainably use the oceans, seas and marine resources for sustainable development and protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss. We challenge you to develop engineering solutions that Restore, regenerate and protect life on land and below water to rebalance the ecosystems we rely on [View Challenge 3]
Choose Your Challenge

SDG 11
Challenge 1: Sustainable Cities
Design and build smarter urban systems for a liveable, sustainable future.
View Challenge 

SDG 12
Challenge 2: Responsible Production
Produce, use and reuse resources to ensure responsible material use.
View Challenge 

SDG 14 & 15
Challenge 3: Life on Land & Water
Restore, regenerate and protect life on land and below water.
View Challenge 

